#delete-scrolls {
    color: white;
    position: absolute;
    top: 250px;
    font-size: 30px;
    right: 1600px;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    list-style: none;
}

#title-delete {
    position: absolute;
    top: 200px;
    left: 550px;
    color: white;
    font-weight: 600;
    font-size: 40px;
    display: none;
}

.delete-scroll-items {
    color: white;
    cursor: pointer;
    text-decoration: none;
}