#create-scroll-div {
    
}

#add_scroll {
    position: absolute;
    bottom: 100px;
    left: 170px;
    display: none;
    width: 1000px;
    height: 550px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
}

#create-scroll {
    font-size: 25px;
    padding-bottom: 20px;
}
#author {
    width: 300px;
}

#title {
    width: 300px;
}

#published {
    width: 300px;
}

#body {
    width: 800px;
    height: 270px;
}

.submit-button {
    color: black;
}