#add_scroll {
    position: absolute;
    top: 380px;
    right: 800px;
    display: none;
    flex-direction: column;
    align-items: flex-start;
}

#author {
    width: 300px;
}

#title {
    width: 300px;
}

#published {
    width: 300px;
}


#body {
    width: 600px;
    height: 370px;
}