#scrolls {
    color: white;
    position: absolute;
    top: 360px;
    font-size: 40px;
    right: 1400px;
    display: none;
    flex-direction: column;
    align-items: flex-start;
}

.scroll-form {
    color: white; 
    position: absolute;
    background-color: red;
    height: 500px;
    width: 500px;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}