#scrolls {
    color: white;
    position: absolute;
    top: 360px;
    font-size: 40px;
    right: 1400px;
    display: none;
    flex-direction: column;
    align-items: flex-start;
}

.scroll-form {
    color: white;
    position: absolute;
    bottom: -600px;
    right: 300px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}