#scrolls {
    color: white;
    position: absolute;
    top: 190px;
    font-size: 40px;
    left: 170px;
    display: none;
    height: 500px;
    overflow-y: scroll;
    flex-direction: column;
    align-items: flex-start;
    font-size: 40px;
    height: 480px;
    width: 1000px;
    overflow-y: scroll;
    flex-wrap: wrap;
}

#scrolls::-webkit-scrollbar {
    display: none;
}

.scroll-form {
    position: absolute;
    display: none;
    font-size: 20px;
    left: -10px;
    width: 1000px;
    height: 450px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
}

.create-scroll {
    padding-bottom: 10px;
}

.edit-author {
    width: 300px;
    margin-bottom: 10px;
}

.title {
    width: 300px;
    margin-bottom: 10px;
}

.edit-published {
    width: 300px;
    margin-bottom: 10px;
}


.edit-body {
    width: 900px;
    height: 270px;
    margin-bottom: 10px;
}

.submit-button {
    color: black;
}

.edit-title {
    color: white;
    left: 470px;
    bottom: 90px;
    width: 500px;
    position: absolute;
    font-size: 40px;
    flex-direction: column;
    align-items: flex-start;
}

li.scroll-items {
    padding: 5px;
}