#scrolls {
    color: white;
    position: absolute;
    top: 200px;
    font-size: 40px;
    right: 1550px;
    display: none;
    flex-direction: column;
    align-items: flex-start;
}

.scroll-form {
    color: white; 
    position: absolute;
    bottom: -500px;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#add_scroll {
    position: absolute;
    top: 200px;
    right: 800px;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    color: black;
}

.author {
    width: 300px;
}

.title {
    width: 300px;
}

.published {
    width: 300px;
}


.body {
    width: 600px;
    height: 370px;
}

.edit-title {
    color: white;
    left: 470px;
    bottom: 90px;
    width: 500px;
    position: absolute;
    font-size: 40px;
    flex-direction: column;
    align-items: flex-start;
}