/* TODO Add site wide styles */
* {
    /* overflow: hidden; */
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

#top-container {
    display: flex;
}

#navbar {
    width: 150px;
    border-left: 1px solid white;
    top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

body {
    min-width: calc(1440px + 150px);
    background-color: black;
}

#site-container {
    width: 1440px;
}

#top-container {
    position: fixed;
    overflow: hidden;
}