.loginform {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 600px;
}

/* Change font-size for fields, padding */
#email, #password  {
    padding-bottom: 10px;
    font-size: 28px;
}

/* Position fields slightly away from labels */
.login-labels {
    padding-right: 10px;
}

/* Style Login Inputs Size */
.login-inputs {
    width: 400px;
    height: 34px;
    font-size: 28px;
}

/* Place login button underneath fields, sizing */
#login-button {
    position: absolute;
    bottom: 200px;
    left: 700px;
    width: 80px;
    height: 40px;
    font-size: 25px;
    background-color: aliceblue;
    border-radius: 10px;
}