/* Center Login Form */
#login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 800px;
    width: 1400px;
}

#login-errors {
    font-size: 25px;
    color: red;
}

#title-label {
    color: black;
    padding-bottom: 40px;
    font-size: 40px;
}

.loginform {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 400px;
    width: 800px;
    background-color: beige;
    border-radius: 20px;
}

/* Change font-size for fields, padding */
#email, #password  {
    padding-bottom: 10px;
    font-size: 28px;
}

/* Position fields slightly away from labels, font color */
.login-labels {
    padding-right: 10px;    
    color: black;

}

/* Style Login Inputs Size */
.login-inputs {
    width: 400px;
    height: 34px;
    font-size: 28px;
}

/* Place login button underneath fields, sizing */
#login-button {
    position: absolute;
    top: 520px;
    left: 650px;
    width: 80px;
    height: 40px;
    font-size: 25px;
    background-color: aliceblue;
    border-radius: 10px;
}