/* Center Login Form */
#signup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 800px;
    width: 1400px;
}

#signup-errors {
    font-size: 25px;
    color: red;
}

#title-label {
    color: black;
    padding-bottom: 40px;
    font-size: 40px;
}

.signupform {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 500px;
    width: 800px;
    background-color: beige;
    border-radius: 20px;
}

/* Change font-size for fields, padding */
#email, #password, #repeat-password, #username  {
    padding-bottom: 10px;
    font-size: 28px;
}

/* Position fields slightly away from labels, font color */
.signup-labels {
    padding-right: 10px;    
    color: black;

}

/* Style Login Inputs Size */
.signup-inputs {
    width: 400px;
    height: 34px;
    font-size: 28px;
}

/* Place login button underneath fields, sizing */
#signup-button {
    position: absolute;
    top: 550px;
    left: 650px;
    width: 120px;
    height: 40px;
    font-size: 25px;
    background-color: aliceblue;
    border-radius: 10px;
}

#demo-button {
    position: absolute;
    top: 600px;
    left: 635px;
    width: 160px;
    height: 40px;
    font-size: 25px;
    background-color: aliceblue;
    border-radius: 10px;
}