#read-scroll {
    color: white;
    position: absolute;
    top: 200px;
    font-size: 40px;
    right: 1550px;
    flex-direction: column;
    align-items: flex-start;
}

.read-scroll {
    padding: 5px;
}

#read-scrolls {
    color: white;
    position: absolute;
    top: 220px;
    font-size: 32px;
    left: 170px;
    height: 480px;
    width: 1000px;
    overflow-y: hidden;
    display: none;
    flex-direction: column;
    align-items: flex-start;  
    flex-wrap: wrap;
}

.scroll-title-author-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 350px;
    top: 200px;
    align-items: center;
    width: 1100px;
    height: 500px;
    display: none;
}

.scroll-bodies {
    color: white;
    overflow-y: scroll;
    font-size: 25px;
    display: none;
}

.scroll-titles {
    color: white;
    /* position: absolute; */
    /* left: 590px; */
    /* top: 200px; */
    padding-bottom: 20px;
    font-size: 25px;
    display: none;  

    /* flex-direction: column; */
    /* align-items: flex-start; */
}

.scroll-authors {
    /* color: white;
    position: absolute; */
    font-size: 25px;
    padding-bottom: 20px;
    display: none;
    /* flex-direction: column;
    align-items: flex-start; */
}

#title-read {
    color: white;
    position: absolute;
    top: 200px;
    font-size: 40px;
    right: 1150px;
    display: none;
    flex-direction: column;
    align-items: center;
}

/* #scroll-list-container {
    
    color: white;
    position: absolute;
    right: 200px;
    top: 220px;
    font-size: 40px;
    height: 480px;
    width: 1600px;
    display: none;
    flex-direction: column;
    align-items: flex-start;  
    flex-wrap: wrap;
    overflow-x: visible;
} */