#read-scroll {
    color: white;
    position: absolute;
    top: 200px;
    font-size: 40px;
    right: 1550px;
    flex-direction: column;
    align-items: flex-start;
}

#read-scrolls {
    color: white;
    position: absolute;
    top: 200px;
    font-size: 40px;
    right: 1510px;
    height: 500px;
    /* overflow-y: scroll; */
    display: none;
    flex-direction: column;
    align-items: flex-start;
}

.scroll-bodies {
    color: white;
    position: absolute;
    width: 1000px;
    height: 410px;
    overflow-y: scroll;
    top: 310px;
    font-size: 25px;
    right: 710px;
    display: none;
    flex-direction: column;
    align-items: flex-start;
}

.scroll-titles {
    color: white;
    position: absolute;
    left: 590px;
    top: 200px;
    font-size: 25px;
    display: none;
    flex-direction: column;
    align-items: flex-start;
}

.scroll-authors {
    color: white;
    position: absolute;
    font-size: 25px;
    left: 570px;
    top: 250px;
    display: none;
    flex-direction: column;
    align-items: flex-start;
}

#title-read {
    color: white;
    position: absolute;
    top: 200px;
    font-size: 40px;
    right: 1150px;
    display: none;
    flex-direction: column;
    align-items: flex-start;
}